<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="demo">
<head>
	<title></title>
	<link href="Content/site.css" rel="stylesheet" />
</head>
<body>
	<div class="page" ng-controller="orders-ctrl">
		<div class="page-filter-panel">
			<input type="text" placeholder="Student Name" ng-model="filterName" />
			<select ng-options="g for g in allGroups" ng-model="filterGroup">
				<option value="all">all</option>
				<option value="">no group</option>
			</select>
		</div>
		<div class="page-students-list">

			<table>
				<thead>
					<tr>
						<th>
							<input type="checkbox" ng-model="allStudents.allSelected" ng-click="selectAllStudents()" />
						</th>
						<th>
							Name
						</th>
						<th>
							Group
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in allStudents | filter:{group:filterGroup}:groupComparer | filter:{name:filterName}" ng-class='{"page-students-list-item selected": student.selected}'>
						<td><input type="checkbox" ng-model="student.selected" /></td>
						<td>{{student.name}}</td>
						<td>{{student.group}}</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="page-operations">
			<select ng-options="o as o.description group by o.category for o in allOperations track by o.id" ng-model="selectedOperation"></select>

			<div class="page-operations-preferences">
				<div ng-switch="selectedOperation.id">
					<div ng-switch-when="1">
						first opeartion fields
					</div>
					<div ng-switch-when="2">
						second operation fields
					</div>
				</div>
				<table>
					<tr ng-repeat="field in selectedOperation.fields">
						<td>{{field.caption}}:</td>
						<td>
							<div ng-switch="field.type">
								<div ng-switch-when="DateTime">
									<input type="text" ng-model="field.value" />
								</div>
								<div ng-switch-when="String">
									<input type="datetime" ng-model="field.value" />
								</div>
							</div>

						</td>
					</tr>
				</table>
			</div>

			<button ng-click="addProposal()" ng-disabled="canAddProposal()">Add</button>
		</div>
		<div class="page-order">


			<div ng-repeat="operation in proposal.operations">
				<span ng-click="operation.isExpanded=(!operation.isExpanded)">^</span>
				<span>{{operation.description}}</span>

				<div style="font-size: smaller; margin-left:40px;" ng-repeat="student in proposal.students" ng-show="operation.isExpanded">
					<span>{{student.name}}</span>
				</div>
			</div>

		</div>

	</div>




	<script src="Scripts/underscore.js"></script>
	<script src="Scripts/angular.js"></script>
	<script src="Scripts/app.js"></script>
</body>
</html>
