<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="demo">
<head>
	<title></title>
	<link href="Content/site.css" rel="stylesheet" />
	<link href="Content/select.css" rel="stylesheet" />
	<link href="Content/ng-grid.css" rel="stylesheet" />
</head>
<body>
	<div class="page" ng-controller="orders-ctrl">
		<div class="page-filter-panel">
			filters

		</div>

		<div class="page-students-list">
			<ui-select ng-model="allOperations" title="Choose operation">
				<ui-select-match placeholder="Select a person in the list or search his name/age...">{{}}</ui-select-match>
				<ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
					<div ng-bind-html="person.name | highlight: $select.search"></div>
					<small>
						email: {{person.email}}
						age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
					</small>
				</ui-select-choices>
			</ui-select>
			<table>

				<tr ng-repeat="student in allStudents" ng-class='{"page-students-list-item selected": student.selected}'>
					<td><input type="checkbox" ng-model="student.selected" /></td>
					<td>{{student.name}}</td>
				</tr>
			</table>

		</div>

		<div class="page-operations">


		</div>

		<div class="page-operations-preferences">


		</div>
	</div>



	<script src="Scripts/angular.js"></script>
	<script src="Scripts/select.js"></script>
	<script src="Scripts/app.js"></script>
</body>
</html>
